
<div class="container">

    <div class="row mt-5">
      
      <div class="col-md-5 ">
        <div class=" content title-fs-45 title-fs-36 text-upper mart-60">
          <span class="bold">SHARING &amp;</span>
          <span class="bold">COLLABORATION</span>
          <span class="bold">SOFTWARE</span>
          FOR ENTERPRISE 
          <br>
          ARCHITECT
          <br>
          <br>
        </div>
        <div class="small-text">
          Work Smarter with Enterprise Architect <br>
          models.
        </div>
        <br>
        <br>
        <br>
        <div class="content-btn fixed-bottom">
          <button>
            <span></span>
            <span></span>
            <span></span>
            <span></span> Take a Trail
          </button>
        </div>
      </div>
      <div class="col-sm-7 ">
        <div class="video-content embed-responsive embed-responsive-16by9">
          <video [src]="videoUrl" autoplay muted loop style="width: 100%; max-width: 840px; height: auto; margin-top: 25vh;"></video>
        </div>
      </div>
    </div>
  </div>

  <div class="container sfs">
    <div class="row content-2">
      <p class="col-sm-3 fs-17 text-theme mt-20" style="display: block;
          margin: 0 0 10px;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          font-size: 17px;
          color: #315db7!important;
          margin-top: 20px;">
        Enterprise Architecture teams in world class companies trust Prolaborate:
      </p>
      <div class="col-sm-9">
        <div class="splide">
          <div class="splide__track">
            <p class="splide__list" >
              <img class="splide__slide w-25 active" src="./assets/airbus.png" alt="Slide 1">
              <img class="splide__slide w-25" src="./assets/AT_T.png" alt="Slide 2">
              <img class="splide__slide w-25" src="./assets/dell.png" alt="Slide 3">
              <img class="splide__slide w-25" src="./assets/hcl.png" alt="Slide 4">
              <img class="splide__slide w-25" src="./assets/volkswagen.png" alt="Slide 5">
              <img class="splide__slide w-25" src="./assets/paypal.png" alt="Slide 6">
              <img class="splide__slide w-25" src="./assets/samsung.png" alt="Slide 7">
              <img class="splide__slide w-25" src="./assets/godrej.png" alt="Slide 8">
              <img class="splide__slide w-25" src="./assets/deloitte.png" alt="Slide 9">
              <img class="splide__slide w-25" src="./assets/bofa.png" alt="Slide 10">
              <img class="splide__slide w-25" src="./assets/qualcomm.png" alt="Slide 11">
            </p>
        </div>
      </div>
    </div>
  </div>
     
</div>
<div class="container-fluid mt-3 fw-bold" align="center" >
  <div class="row">
    <div class="col-sm-12 ">
    <span>DISCOVER HOW TO USE INFORMATION IN YOUR MODELS</span>
    <br>
       <span class="lighter underline"> TO DRIVE KEY DECISIONS</span>
  </div>   
</div>
<div>
</div>
</div>

 
<div class="container">
  <app-sticky></app-sticky>
</div>
<div class="container mt-5">
  <app-content></app-content>
</div>


<app-footer></app-footer>

 


