.custom-shape-divider-bottom-1683696590 {
    position: sticky;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1683696590 svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 78px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1683696590 .shape-fill {
    fill: #315DB7;
}



  
  
  

