
.fw-bold{
    color:  #315db7;
    font-weight:500;
    font-size: 32px;
}
span{
    color: #315db7;
    font-weight: lighter;
    font-size: 32px;

}
.content{
    display: inline-block;
}

.liveaccess{
    display: inline-block;
    
   
   
}
b{
    font-weight:bold;
    color: gray;
    font-size: 18PX;
    margin: 20px;
    text-transform: uppercase;
}
.h4{
   
    color: gray;
    position: relative;
    margin-bottom: 12px;
    margin-left: 32px;
    font-weight: lighter;
    font-size: 12px;
    padding-left: 38px;
    
}

.img2{
    max-width: 1200;
    width: 100%;
    height: auto;
}