<app-icons></app-icons>
<div class=" mt-3">
    <div class="row ">
      <div class="col-md-5 content">
        <h1 class="fw-bold ">SIMPLIFY</h1>
        <span>-Cull the Complexity</span>
        <br>
        <div class="liveaccess mt-1">
            <img src="./assets/live access.png" width="50" height="50" ><b>Live access Control</b>
           
        </div>
            <div class="h4">
            
                    Allow users to view,edit,and collaborate on parts of live Enterprise Architect models.
              
            </div>

         <div class="richuser mt-1">
            <img src="./assets/richusers.png" width="50" height="50"> <b>RICH USER EXPERIENCE</b>
         </div>   
         <div class="h4">
             
                Simplify the user experience by publishing just the right amount of information. Nothing more, nothing less!
             
         </div>
      </div>
   
      <div class="col-md-7 img">
       <img src="./assets/Simplify.jpg"  class="img-fluid" width="1000px" height="auto">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
             <img src="./assets/Engage.jpg" alt="" class="img-fluid"  width="1000px" height="auto">
      </div>
      <div class="col-sm-6">
           <p class="fw-bold">COLLABORATE <span style="font-weight: lighter; font-weight: 100; line-height: 1.2;">- Make it count where it matters</span></p>
           <div class="agile">
                <img src="./assets/agile.png" width="50" height="50"><b>AGILE MODEL REVIEWS</b>
           </div>
           <div class="h4">
            Customized workflow-driven reviews on live EA diagrams for better focus and rapid improvements. Stop emailing documents and spreadsheets!
           </div>
           <div class="faster">
                <img src="./assets/faster.png" width="50" height="50"><b>SMARTER REAL-TIME COLLABORATION</b>
           </div>
           <div class="h4">
            Work together and smarter with enterprise-wide collaboration powered by EA model information. Don't shoot 1000 emails!
           </div>
      </div>
    </div>
</div>


