<div class="container" align="center">
    <div class="row mt-3">
        <div class="col-sm-4">
            <div class="card  mt-5">
                <div class="image">
                    <img src="./assets/prolaborate-ico.png">
                </div>
                 <div class="content">
                   <a><span class="title">
                       Prolaborate
                     </span>
                   </a>
               
                   <p class="desc">
                    Prolaborate is a tailored set of views that reduce complexity, focus attention and increase the accessibility of model information for non-modelers and others who are more concerned with consuming the model than directly editing it (although this can occur).Prolaborate provides a social platform 'outside the model' that supports talking about the model from a different viewpoint to those actively engaged 'within the model'.
                   </p>
               
                   <a  class="action">
                     Find out more
                     <span aria-hidden="true">
                       →
                     </span>
                   </a>
                 </div>
               
               </div>
        </div>
        <div class="col-sm-4">
            <div class="card  mt-5">
                <div class="image">
                    <img src="./assets/saas.png">
                </div>
                 <div class="content">
                   <a><span class="title">
                       EA SaaS
                     </span>
                   </a>
               
                   <p class="desc">
                    ake a look at EA SaaS in action
                    ‘EA SaaS’ is the Cloud based version of the reputed and proven Sparx Enterprise Architect (Sparx EA) modeling tool. Enterprise Architect (Sparx EA) supports a range of modeling frameworks and is the tool of choice for nearly 1,000,000 (1M) users across the world. Enterprise Architect (Sparx EA) is known for its ability to support collaborative modeling.
                   </p>
               
                   <a  class="action">
                     Find out more
                     <span aria-hidden="true">
                       →
                     </span>
                   </a>
                 </div>
               
               </div>
        </div>
        <div class="col-sm-4">
            <div class="card  mt-5">
                <div class="image3">
                    <img src="./assets/EA.png">
                </div>
                 <div class="content">
                   <a><span class="title">
                       EA
                     </span>
                   </a>
               
                   <p class="desc">
                    Enterprise Architect SaaS is the perfect cloud based delivery solution for corporate enterprise teams using Sparx Systems Enterprise Architect. Enterprise Architect supports a range of modeling frameworks and is the tool of choice for over one million users across the world.

                    Enterprise Architect SaaS deployment allows medium to large teams to quickly start and scale their modeling efforts without any internal operational overheads.
                   </p>
               
                   <a  class="action">
                     Find out more
                     <span aria-hidden="true">
                       →
                     </span>
                   </a>
                 </div>
               
               </div>
        </div>
        
    </div>
</div>
