.custom-shape-divider-bottom-1683616299 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1683616299 svg {
    position: relative;
    display: block;
    width: calc(150% + 1.3px);
    height: 198px;
}

.custom-shape-divider-bottom-1683616299 .shape-fill {
    fill: #1F8CED;
}