<figure class="snip1533" align="center">
  <figcaption>
    <blockquote>
      <p>If you do the job badly enough, sometimes you don't get asked to do it again.</p>
    </blockquote>
    <h3>Wisteria Ravenclaw</h3>
    <h4>Google Inc.</h4>
  </figcaption>
</figure>
<figure class="snip1533">
  <figcaption>
    <blockquote>
      <p>I'm killing time while I wait for life to shower me with meaning and happiness.</p>
    </blockquote>
    <h3>Ursula Gurnmeister</h3>
    <h4>Facebook</h4>
  </figcaption>
</figure>
<figure class="snip1533">
  <figcaption>
    <blockquote>
      <p>The only skills I have the patience to learn are those that have no real application in life. </p>
    </blockquote>
    <h3>Ingredia Nutrisha</h3>
    <h4>Twitter</h4>
  </figcaption>
</figure>