.icons{
    display:flex;
    position: fixed;
    justify-content: flex-end;
    top: 120px;
    bottom: 20px;
    right: 20px;
    z-index: 9999;   
}

.icons2{
    display:flex;
    position: fixed;
    justify-content: flex-end;
    top: 180px;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}
  